:root {
    --call-to-action_bg: #F5ECFE;
}

@media (max-width: 1120px) {
    .intro {
        justify-content: center;
    }

    .intro-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* h1 and p must have a class, ok? */
    .intro-info h1,
    .intro-info p {
        max-width: 100%;
    }

    .menu,
    .info {
        /* give it more room to breath */
        width: 90%;
    }

    .scroll-down {
        /* idk why is this thing with position: relative, but that's ok */
        position: initial;
        margin-top: 100px;
    }

    /* we don't need to style cards, because i already made'em responsive in main css */

    .split,
    .split2 {
        justify-content: center;
    }

    .services {
        flex-direction: column;
    }

    .services-info {
        justify-content: center;
    }

    .info2 {
        max-width: 75%;
    }

    /* skills section */
    .skills {
        flex-direction: column;
    }

    .content-progress,
    .skills-info {
        width: 75%;
        max-width: 75%;
        margin: 25px auto;
    }

    /* call to action */
    .call-to-action {
        text-align: center;
        padding: 25px 50px;
    }

    .call-to-action button {
        margin-bottom: 20px;
    }

    /* hide all images */
    img[alt='Agency'],
    /* ok, you do not need to have two with the "same" alt */
    img[alt='Split image'],
    .split-img {
        display: none;
    }
}

@media (max-width: 920px) {
    .bullet-points {
        margin: 0;
    }

    .menu-nav {
        justify-content: center;
        margin-bottom: 25px;
    }

    .menu {
        flex-direction: column;
    }

    .intro-info p {
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .info {
        justify-content: center;
    }

    .info p {
        text-align: center;
    }

    .menu-nav ul {
        justify-content: center;
    }

    .menu-nav img {
        padding: 0 15px;
    }

    .intro-info p,
    .intro-info h1 {
        text-align: center;
        margin: 15px;
    }

    .split {
        justify-content: center;
        padding: 0 25px;
    }

    .split-info {
        margin: 0 auto;
        justify-content: center;
    }

    .intro-btn .btn-2 {
        margin-right: 25px;
    }

    .video-info {
        text-align: center;
    }

    .video-info p {
        width: 100%;
    }


    .content-progress,
    .skills-info {
        /* padding: 0 15px; */
        width: 75%;
        max-width: 75%;
    }

    .progress {
        width: 100%;
    }

    .progress-done1 {
        width: 96%;
    }

    .progress-done2 {
        width: 81%;
    }

    .progress-done3 {
        width: 70%;
    }

    .progress-done4 {
        width: 96%;
    }

    .call-to-action-bg,
    .video-bg {
        /* change bg image to a solid color */
        background-image: none;
        background: var(--call-to-action_bg);
        box-shadow: 2px 0 10px rgba(0, 0, 0, .25);
    }

    /* last support section */
    .support {
        width: 90%;
    }
}