@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

/*=== CORES PADRÕES===*/
:root {
  --btn-color: #6852ED;
}

/*===Configurações Globais===*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  color: #716C80;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;  
}

/*===MENU INFO===*/
.info-bg {
  border-bottom: 1px solid #E1E4ED;
}

.info{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
  padding: 21px;
}

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info-wrap img {
  margin-right: 5px;
}

.info-wrap a {
  color: #716C80;
  font-weight: 600;
}

.info h1, p {
  font-size: 16px;
  font-weight: 700;
}
/*===MENU===*/
.menu {
  max-width: 1150px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav img {
  margin-right: 32px;
  width: 41px;
  height: 41px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 16px;
  display: block;
  padding: 10px;
  font-weight: 700;
  color: #5B5766;
}

.menu-nav a:hover {
  transition: 300ms;
  color: var(--btn-color);
}

.menu-btn {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.menu-btn p {
  margin: 0 14px;
  font-size: 16px;
}

.btn-1 {
  width: 75px;
  height: 41px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  background-color: transparent;
}

.btn-1:hover {
  background-color: var(--btn-color);
  transition: 300ms;
  color: #fff;
}

.btn-second {
  width: 150px;
  height: 41;
}
/*===INTRODUÇÃO===*/
.intro-bg {
  height: 750px;
  max-width: 1150px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-between;
}

.intro-info {
  
}

.intro-info h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  max-width: 330px;
  margin-bottom: 30px;
  color: #554D89;
}

.intro-info p {
  font-size: 22px;
  max-width: 370px;
  margin-bottom: 30px;

}

.intro-img {
  color: #5B5766;
  margin-left: 50px;
}

.btn-2 {
  font-family: 'Poppins', sans-serif;
  width: 150px;
  height: 41px;
  margin-right: 45px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-image: linear-gradient(27deg, #6852ed 0%, #ba43fc 100%);
}

.btn-2:hover {
  transition: 300ms;
  filter: brightness(90%);
}

.btn-3 {
  font-size: 16px;
  align-self: center;
  color: #5B5766;
  font-family: 'Poppins', sans-serif;
}

.btn-3:hover {
  color: #6852ed;
  transition: 300ms;
}