@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

/*=== CORES PADRÕES===*/
:root {
  --btn-color: #6852ED;
}

/*===Configurações Globais===*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

body {
  color: #716C80;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

p {
  font-weight: normal;
}

/*===MENU INFO===*/
.info-bg {
  border-bottom: 1px solid #E1E4ED;
}

.info{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 21px;
}

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info-wrap img {
  margin-right: 5px;
}

.info-wrap a {
  color: #716C80;
  font-weight: 600;
}

.info h1, p {
  font-size: 16px;
  font-weight: 700;
}
/*===MENU===*/
.menu {
  max-width: 1150px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav img {
  margin-right: 32px;
  width: 41px;
  height: 41px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 16px;
  display: block;
  padding: 10px;
  font-weight: 700;
  color: #5B5766;
}

.menu-nav a:hover {
  transition: 300ms;
  color: var(--btn-color);
}

.menu-btn {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.menu-btn p {
  margin: 0 14px;
  font-size: 16px;
}

.btn-1 {
  width: 75px;
  height: 41px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  background-color: transparent;
}

.btn-1:hover {
  background-color: var(--btn-color);
  transition: 300ms;
  color: #fff;
}

.btn-second {
  width: 150px;
  height: 41;
}
/*===INTRODUÇÃO===*/
.intro-bg {
  height: 670px;
  max-width: 1150px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-between;
}

.intro-info {
  margin-top: 50px;
}

.intro-info h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  max-width: 330px;
  margin-bottom: 30px;
  color: #554D89;
}

.intro-info p {
  font-size: 22px;
  max-width: 370px;
  margin-bottom: 30px;

}

.intro-img {
  color: #5B5766;
  margin-left: 50px;
}

.btn-2 {
  font-family: 'Poppins', sans-serif;
  width: 150px;
  height: 50px;
  margin-right: 45px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-image: linear-gradient(27deg, #6852ed 0%, #ba43fc 100%);
}

.btn-2:hover {
  transition: 300ms;
  filter: brightness(90%);
}

.btn-3 {
  font-size: 16px;
  align-self: center;
  color: #5B5766;
  font-family: 'Poppins', sans-serif;
}

.btn-3:hover {
  color: #6852ed;
  transition: 300ms;
}

.scroll-down {
  margin: 0 auto;
  width: 90px;
  position: relative;
  top: -160px;
}

.scroll-down:hover {
  filter: brightness(90%);
}
/*===BULLET POINTS===*/
.bullet-bg {
  max-width: 1150px;
  margin: 0 auto;
  
}

.bullet-points {
  display: flex;
  margin-top: 70px;
}

.bullet-box {
  width: 361px;
  height: 150px;
  padding: 35px;
  margin: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  filter: drop-shadow(0 0 10px #e1e4ed);

}

.bullet-box:hover, .hover {
  color: white;
  transition: 300ms;
  filter: drop-shadow(0 0 10px rgba(104,82,237,0.8));
  background-image: linear-gradient(27deg, #6852ed 0%, #ba43fc 100%);
}

.bullet-box img {
  margin-bottom: 20px;
}

.bullet-box h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  color: #554D89;
}

.bullet-box p {
  color: #716C80;
  font-weight: normal;
}
/*===SPLIT===*/
.split-bg {
  margin: 80px 0;
}

.split {
  display: flex;
  margin: 0 auto;
  max-width: 1150px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.split-info {
  margin-left: 20px;
}

.split h2 {
  font-family: 'Poppins', sans-serif;
  color: #554D89;
  font-size: 28px;
  margin-bottom: 30px;
}

.split p {
  color: #716C80;
  max-width: 500px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
}

.split-img {
  margin-right: 20px;
}
/*===VIDEO===*/
.video-bg {
  width: 100%;
  height: 450px;
  background-image: url(/img/video-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.video-info {
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
  padding: 105px;
}

.video-info h2 {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  color: #554D89;
  margin: 22px 0;
}

.video-info p {
  font-size: 18px;
  color: #5B5766;
}

.video-info img:hover {
  filter: brightness(90%);
}
/*===SPLIT02===*/
.split2-bg {
  margin: 80px 0;
}

.split2 {
  max-width: 1150px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.split2-info {
  margin-left: 20px;
}

.split2 h2 {
  font-family: 'Poppins', sans-serif;
  color: #554D89;
  font-size: 28px;
  max-width: 430px;
  margin-bottom: 30px;
}

.split2 p {
  color: #716C80;
  max-width: 500px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;

}
/*===SERVICES===*/
.services-bg {
  margin: 0 auto;
  max-width: 1150px;
}

.services {
  display: flex;
}

.services-info {
  display: flex;
  flex-wrap: wrap;
}

.info2 {
  max-width: 650px;
  align-self: center;
}

.info2 h2 {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  color: #554D89;
  margin: 22px 0;
  max-width: 300px;
}

.info2 p {
  font-size: 18px;
  color: #5B5766;
  margin-bottom: 30px;
  font-weight: 600;
}

.info1 {
  width: 260px;
  height: 150px;
  padding: 35px;
  margin: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  filter: drop-shadow(0 0 10px #e1e4ed);
}

.info1 h2 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #554D89;
  margin-bottom: 15px;
}
/*===SKILLS===*/

.skills-bg {
  max-width: 1150px;
  margin: 0 auto;
}

.skills {
  display: flex;
  margin: 80px 0;
  justify-content: space-between;

}

.skills-info {
  max-width: 480px;
  align-self: center;
}

.skills-info h2 {
  font-size: 34px;
  font-family: 'Poppins', sans-serif;
  color: #554D89;
  margin: 22px 0;
}

.skills-info p {
  font-size: 18px;
  color: #716C80;
  margin-bottom: 30px;
  font-weight: 600;
}


.btn-4 {
  font-family: 'Poppins', sans-serif;
  width: 223px;
  height: 50px;
  margin-right: 45px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-image: linear-gradient(27deg, #6852ed 0%, #ba43fc 100%);
}

.btn-4:hover {
  transition: 300ms;
  filter: brightness(90%);
}
/*PROGRESS*/
.content-progress {
  width: 556px;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 10px;
  width: 100%;
  margin-bottom: 35px;
}

.progress-info p {
  font-size: 18px;
  color: #5B5766;
  margin-bottom: 15px;
}

.progress-done1 {
  background: linear-gradient(to left, #6852ed, #ba43fc);
  box-shadow: 0 3px 3px -5px #6852ed, 0 2px 5px #6852ed;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  width: 530px;
  /* opacity: 0; */
  transform: 1s ease;
}

.progress-done2 {
  background: linear-gradient(to left, #6852ed, #ba43fc);
  box-shadow: 0 3px 3px -5px #6852ed, 0 2px 5px #6852ed;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  width: 450px;
  /* opacity: 0; */
  transform: 1s ease;
}

.progress-done3 {
  background: linear-gradient(to left, #6852ed, #ba43fc);
  box-shadow: 0 3px 3px -5px #6852ed, 0 2px 5px #6852ed;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  width: 300px;
  /* opacity: 0; */
  transform: 1s ease;
}

.progress-done4 {
  background: linear-gradient(to left, #6852ed, #ba43fc);
  box-shadow: 0 3px 3px -5px #6852ed, 0 2px 5px #6852ed;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  width: 530px;
  /* opacity: 0; */
  transform: 1s ease;
}

.progress-info {
  display: flex;
  justify-content: space-between;
}
/*===call-to-action===*/
.call-to-action-bg {
  width: 100%;
  height: 171px;
  background-image: url(/img/call-to-action-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.call-to-action {


}



/* Estilização botão */
.call-to-action h3 {
  font-size: 26px;
  font-weight: 600;
  color: #554D89;
  font-family: 'Poppins', sans-serif;
}

.btn-1 {
  width: 125px;
  height: 41px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  background-color: transparent;
}

.btn-1:hover {
  background-color: var(--btn-color);
  transition: 300ms;
  color: #fff;
}